/* jumbotron properties including main big image on screen1*/


.page-header {
  float: left;
  width: 100%;
  height: 320px;
  text-align: center;
  margin: 25% 0 25% 0;

  border-top:30px solid #001a33;

}

.page-header img {
     width: auto;
     height: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;

}



.jumbotron {
    display: block;
    width: 100%;
    height: 100px;
    float: left;
    background-image: ;
    background-repeat: no-repeat;
    background-size:40; 
}


.blue-container {
    
    height: 250px;
    background-color: #0099ff;   
    text-align: center;
}

.buttonsAndGly {
    display: inline-block;
    padding-top: 35px;
    font-weight: bold;
   

}


.buttonsAndGly a{
     font-weight: bold;
   

}

.glyphicon {
    font-size: 5em;
    color:#1D3E5A;
   
  
    
}

.glyphicon:hover{
    color:#0099ff;
}


/* cohor 2016 button propertien on screen1*/

.cohor-2016-button {
    text-align: center;
    padding-top: 90px;
 padding-bottom: 90px;
}

.cohor-2016-button a{

    font-weight: bold;
}

.container-fluir{
    
    height: 400px;
  
}



