.button_HOME .button_BACK{
  margin-right: 100px;
  text-align: right;
  font-weight: bold;
  display: inline-block; 
  
}

.glyphicon {
    font-size: 3em;
    color:#1D3E5A;
  
    
}

.glyphicon:hover{
    color:#0099ff;
}

.student-detail{
    font-size: 10em;
}